:root {
	--purple: #9036ff;
	--blue: #368dff;
	--green: #36ff83;
	--orange: #ffd336;
	--red: #ff5b36;
	--gray: #4e4e4e;
}

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
	font-family: "JetBrains Mono", monospace;
	box-sizing: border-box;
}

html {
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	gap: 12px;
	padding: 12px;
	align-items: center;
}

input::placeholder {
	color: var(--gray);
}

a {
	all: unset;
	font-weight: bold;

	&:hover {
		color: var(--gray);
	}
}

.positive {
	color: var(--green);
}

.negative {
	color: var(--red);
}

.icon {
	color: var(--color);
	width: 24px;
	height: 24px;
}

button {
	padding: 12px;
	border-radius: 0.75rem;
	font-weight: bolder;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--background-color);
	border: solid var(--color) 2px;
	color: var(--color);
	&:hover {
		background-color: var(--color);
		color: var(--background-color);
	}
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: var(--background-color) !important;
    color: fieldtext !important;
}