* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;        
    padding: 12px;
    margin: 0;
}

.positive {
    color: var(--green);
}

.negative {
    color: var(--red)
}

