* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center; 
    margin: 0;
}

.positive {
    color: var(--green);
}

.negative {
    color: var(--red)
}

.icon {
    color: var(--color);
    width: 24px;
    height: 24px;
}

button {
    padding: 12px;
    border-radius: 0.75rem;
    font-weight: bolder;
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    border: solid var(--color) 2px;
    color: var(--color);
    &:hover {
        background-color: var(--color);
        color: var(--background-color);
    }
}