<import>Overview ./components/overview.html</import>

{{ $wallet := .Wallet }}

<main>
    <Overview />
    <div class="assets"> 
        {{ range .Assets }}
            <div class="asset">
                <div class="name">
                    <div class="symbol">{{.Symbol}}</div>
                    <div>
                        {{.Name}}
                    </div>
                </div>
                <div class="price">
                    {{ $value := index $wallet .Id }}
                    {{if ne $value 0.0 }}
                        <div class="balance">
                            {{format_float $value 3 }} {{.Symbol}}
                        </div>
                    {{end}}
                    <div class="value">{{ format_float .PriceUsd 2 }} $</div>
                    <div class="change">{{ price_change .ChangePercent24Hr }}</div>    
                    {{if ne $value 0.0 }}
                        <div class="line"></div>
                    <div>{{calculate_balance $value .PriceUsd }}</div>
                    {{end}}      
                </div>
            </div>
        {{ end }}
    </div>
</main>

<style>
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .assets {
        display: flex;
        flex-direction: column;
        gap: 12px;
        min-width: 600px;
        width: 45vw;
        padding-top: 12px;
    }

    .asset {
        display: flex;
        border: solid var(--color) 2px;
        border-radius: 0.75rem;
        justify-items: center;
        align-items: center;
        padding: 24px;
        font-weight: bold;
        font-size: medium;
        color: var(--color);
        transition: font-size 0.25s;

        .balance {
            color: var(--blue);
        }


        &:hover {
            font-size: 120%;
        }

        .price {
            margin-left: auto;
            display: flex;
            flex-direction: column;
            gap: 8px;
            text-align: right;
            
            .value {
                color: var(--purple);
                font-weight: bold;
            }

            .line {
                border-bottom: solid var(--color) 2px;
            }
        }

        .name {
            display: flex;
            align-items: center;

            .symbol {
                padding-right: 12px;
                font-size: 36px;
            }
        }
    }

    @media screen and (max-width: 600px) {
        .assets {
            min-width: unset;
            width: 100%;

            .name {
                flex-direction: column;
                align-items: flex-start;

                .symbol {
                    padding-right:0px;
                }
            }
        }

    }
</style>