<main>
	<a class="back" href="/{{if .Register}}login{{end}}" hx-boost="true"><-</a>
	<div>
		{{if .Register}}
			<h1>Register</h1>
			<a class="swap" href="/login" hx-boost="true">already have an acount?</a>
		{{else}}
			<h1>Login</h1>
			<a class="swap" href="/register" hx-boost="true">dont have an acount?</a>
		{{end}}
	</div>

	<div id="login-error" style="display: none"></div>

	<form
		id="login-form"
		hx-post="{{if .Register}}/user/register{{else}}/user/login{{end}}"
		hx-target="#login-error"
		hx-swap="outerHTML"
	>
		<input type="text" name="username" placeholder="username" />
		<input type="password" name="password" placeholder="password" />
		<button type="submit">login</button>
	</form>
</main>

<style>
	%g #login-error {
		color: var(--red);
		font-style: italic;
		white-space: pre-line;
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	main {
		max-width: fit-content;
		display: flex;
		flex-direction: column;
		padding: 12px;
		gap: 24px;
		width: 350px;
	}
	
	.back {
		text-align: left;
		font-size: large;
	}

	h1 {
		margin: 0;
		padding: 0;
	}

	.swap {
		font-size: 12px;
		font-weight: normal;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	input {
		all: unset;
		border: solid var(--color) 2px;
		border-radius: 0.75rem;
		padding: 12px;
	}

	button {
		width: 100%;
		height: 50px;
	}

</style>
