<div class="overview" id="overview-{{.Id}}" coin="{{.Id}}">
	<div class="top">
		<div class="name">
			<div class="symbol">{{.Symbol}}</div>
			<div>{{.Name}}</div>
		</div>
		<button hx-get="/list/{{.Id}}" hx-target="closest .overview">
			exit
		</button>
	</div>
	<div class="info">
		<span>Price</span>
		<div class="price">{{ format_float .PriceUsd }} $</div>
		<span>Change24hr</span>
		<div class="change">{{ price_change .ChangePercent24Hr }}</div>
		<span>MarketCap</span>
		<div class="market-cap">{{ format_float .MarketCapUsd }} $</div>
		<span>Volume</span>
		<div class="volume">{{ format_float .VolumeUsd24Hr }} $</div>
		<span>Supply</span>
		<div class="supply">
			{{ format_float .Supply }} {{.Symbol}}
		</div>
	</div>

	<div class="chart" id="chart-{{.Id}}"></div>
	{{ if ne .Balance 0.0}}
		<div class="balance">
			<h2>Balance</h2>
			<span>{{ .Balance }} {{ .Symbol}}</span>
			<span>{{ format_float .Value }} $</span>
		</div>
	{{end}}

	<div class="actions">
		{{if .Bought }}
			<div id="buy" class="action success">
				<div>
					<div>Succesfully bought {{.ActionAmount}} {{.Symbol}}</div>
					<button hx-get="/overview/{{.Id}}/actions" hx-swap="innerHTML" hx-target="closest .actions">close</button>
				</div>
			</div>
		{{else if .Sold }}
			<div id="sell" class="action success">
				<div>
					<div>Succesfully sold <span>{{.ActionAmount}} {{.Symbol}}</span></div>
					<button hx-get="/overview/{{.Id}}/actions" hx-swap="innerHTML" hx-target="closest .actions">close</button>
				</div>
			</div>
		{{else}}
			{{block "actions" . }}
				<form id="buy" class="action" hx-post="/user/buy/{{.Id}}" hx-target="#overview-{{.Id}}">
					<h2>Buy</h2>
					<quantity-selector
						coin_price="{{.PriceUsd}}"
						symbol="{{.Symbol}}"
					></quantity-selector>
					<button type="submit" class="buy button">buy</button>
				</form>			
				{{ if ne .Balance 0.0}}	
					<form id="sell" class="action" hx-post="/user/sell/{{.Id}}" hx-target="#overview-{{.Id}}">
						<h2>Sell</h2>
						<quantity-selector
							coin_price="{{.PriceUsd}}"
							symbol="{{.Symbol}}"
							sell
							balance="{{.Balance}}"
						></quantity-selector>
						<button type="submit" class="sell button">sell</button>
					</form>
				{{end}}
			{{end}}
		{{end}}
	</div>

	<script>
		window.load_chart("{{.Id}}")
	</script>
</div>

<style>
	h2 {
		margin: 0;
		font-weight: bold;
	}

	.top {
		display: flex;
		justify-content: space-between;
		gap: 12px;

		button {
			height: 100%;
		}
	}
	.info {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: fit-content;
	}

	.price {
		color: var(--purple);
	}

	.balance {
		display: flex;
		flex-direction: column;
		align-items: start;
		> h2 {
			padding-bottom: 8px;
		}
		> span {
			color: var(--blue);
		}
		padding-bottom: 12px;
		border-bottom: solid var(--color) 2px;
	}

	.name {
		font-weight: bold;
		display: flex;
		align-items: center;

		.symbol {
			padding-right: 12px;
			font-size: 36px;
		}
	}

	.chart {
		height: 400px;
		max-width: 100%;

		border-bottom: solid var(--color) 2px;
	}

	.overview {
		flex-direction: column;
		justify-items: center;
		display: flex;
		gap: 12px;
		padding: 12px;
		border: solid var(--color) 2px;
		border-radius: 0.75rem;
	}

	.action.success > div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		gap: 12px;
		text-align: center;
		padding: 24px;

		> div > span {
			font-weight: bold;
		}
	}

	.actions {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 12px;

		.action {
			display: flex;
			flex-direction: column;
			gap: 12px;
			width: 100%;
			
			> button {
				margin-top: auto;
				height: 50px;
				width: 100%;
			}
		}
	}

	@media screen and (min-width: 1000px) {
		.actions {
			flex-direction: row;
			justify-content: space-around;
		}
	}

	.sell {
		color: var(--red);
		border: solid var(--red) 2px;
		&:hover {
			background-color: var(--red);
			color: var(--background-color);
		}
	}

	.buy {
		color: var(--green);
		border: solid var(--green) 2px;
		&:hover {
			background-color: var(--green);
			color: var(--background-color);
		}
	}

	%g text.highcharts-credits {
		display: none !important;
	}
