<div class="overview" id="overview-{{.Coin}}" coin="{{.Coin}}">
	<div class="top">
		<div class="name">
			<div class="symbol">{{.Asset.Symbol}}</div>
			<div>{{.Asset.Name}}</div>
		</div>
		<button hx-get="/list/{{.Coin}}" hx-target="closest .overview">
			exit
		</button>
	</div>
	<div class="info">
		<span>Price</span>
		<div class="price">{{ format_float .Asset.PriceUsd }} $</div>
		<span>Change24hr</span>
		<div class="change">{{ price_change .Asset.ChangePercent24Hr }}</div>
		<span>MarketCap</span>
		<div class="market-cap">{{ format_float .Asset.MarketCapUsd }} $</div>
		<span>Volume</span>
		<div class="volume">{{ format_float .Asset.VolumeUsd24Hr }} $</div>
		<span>Supply</span>
		<div class="supply">
			{{ format_float .Asset.Supply }} {{.Asset.Symbol}}
		</div>
	</div>

	<div class="chart" id="chart-{{.Coin}}"></div>
	{{ $value := .Asset.Balance}} 
	{{ if ne $value 0.0}}
		<div class="balance">
			<h2>Balance</h2>
			<span>{{ $value }} {{ .Asset.Symbol}}</span>
			<span>{{calculate_balance $value .Asset.PriceUsd }}</span>
		</div>
	{{end}}

	<div class="actions">
		<form class="action" hx-post="/user/buy/{{ .Coin }}" hx-target="closest .overview">
			<h2>Buy</h2>
			<quantity-selector
				coin_price="{{.Asset.PriceUsd}}"
				symbol="{{.Asset.Symbol}}"
			></quantity-selector>
			<button type="submit" class="buy button">buy</button>
		</form>
		{{ if ne $value 0.0}}
			<form class="action" hx-post="/user/sell/{{ .Coin }}" hx-swap="none">
				<h2>Sell</h2>
				<quantity-selector
					coin_price="{{.Asset.PriceUsd}}"
					symbol="{{.Asset.Symbol}}"
					sell
					balance="{{$value}}"
				></quantity-selector>
				<button type="submit" class="sell button">sell</button>
			</form>
		{{end}}
	</div>

	<script>
		window.load_chart("{{.Coin}}")
	</script>
</div>

<style>
	h2 {
		margin: 0;
		font-weight: bold;
	}

	.top {
		display: flex;
		justify-content: space-between;
		gap: 12px;

		button {
			height: 100%;
		}
	}
	.info {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: fit-content;
	}

	.price {
		color: var(--purple);
	}

	.balance {
		display: flex;
		flex-direction: column;
		align-items: start;
		> h2 {
			padding-bottom: 8px;
		}
		> span {
			color: var(--blue);
		}
		padding-bottom: 12px;
		border-bottom: solid var(--color) 2px;
	}

	.name {
		font-weight: bold;
		display: flex;
		align-items: center;

		.symbol {
			padding-right: 12px;
			font-size: 36px;
		}
	}

	.chart {
		height: 400px;
		max-width: 100%;

		border-bottom: solid var(--color) 2px;
	}

	.overview {
		flex-direction: column;
		justify-items: center;
		display: flex;
		gap: 12px;
		padding: 12px;
		border: solid var(--color) 2px;
		border-radius: 0.75rem;
	}

	.actions {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 12px;

		.action {
			display: flex;
			flex-direction: column;
			gap: 12px;
			width: 100%;
			
			> button {
				margin-top: auto;
				height: 50px;
				width: 100%;
			}
		}
	}

	@media screen and (min-width: 1000px) {
		.actions {
			flex-direction: row;
			justify-content: space-around;
		}
	}

	.sell {
		color: var(--red);
		border: solid var(--red) 2px;
		&:hover {
			background-color: var(--red);
			color: var(--background-color);
		}
	}

	.buy {
		color: var(--green);
		border: solid var(--green) 2px;
		&:hover {
			background-color: var(--green);
			color: var(--background-color);
		}
	}

	%g text.highcharts-credits {
		display: none !important;
	}

</style>
